body{
    background: #BBDCE5;
    color: #0E2148
}

@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
    --color-Primary:#BBDCE5;
    --color-primary-dark:#0d0d0d
}